In [2]:
import pandas as pd
import numpy as np

In [3]:
# If it's an Excel file, use read_excel
df = pd.read_csv('merged_artists_1_to_27.csv')

In [4]:
df.head()

,artist_name,artist_genre,artist_img,artist_id,artist_country
0,Coldplay,"permanent wave, pop",https://i.scdn.co/image/ab6761610000e5eb1ba8fc...,4gzpq5DPGxSnKTe4SA8HAU,United Kingdom
1,Radiohead,"alternative rock, art rock, melancholia, oxfor...",https://i.scdn.co/image/ab6761610000e5eba03696...,4Z8W4fKeB5YxbusRsdQVPb,United Kingdom
2,Red Hot Chili Peppers,"alternative rock, funk metal, funk rock, perma...",https://i.scdn.co/image/ab6761610000e5ebc33cc1...,0L8ExT028jH3ddEcZwqJJ5,United States
3,Rihanna,"barbadian pop, pop, urban contemporary",https://i.scdn.co/image/ab6761610000e5eb99e4fc...,5pKCCKE2ajJHZ9KAiaK11H,United States
4,Eminem,"detroit hip hop, hip hop, rap",https://i.scdn.co/image/ab6761610000e5eba00b11...,7dGJo4pcD2V6oG8kP0tJRR,United States

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109173 entries, 0 to 109172
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   artist_name     109173 non-null  object
 1   artist_genre    109173 non-null  object
 2   artist_img      102477 non-null  object
 3   artist_id       109173 non-null  object
 4   artist_country  109173 non-null  object
dtypes: object(5)
memory usage: 4.2+ MB

In [6]:
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 1998

In [7]:
# Count duplicate artist names
duplicate_artists = df['artist_name'].duplicated(keep=False) # keep=False
duplicate_artists_count = duplicate_artists.sum()
print(f"Number of duplicate artist names: {duplicate_artists_count}")
# Optionally, you can get the count of each artist name and filter those wi
artist_name_counts = df['artist_name'].value_counts()
duplicate_artists_detail = artist_name_counts[artist_name_counts > 1]
print("Duplicate artist details:")
print(duplicate_artists_detail)

Number of duplicate artist names: 13304
Duplicate artist details:
artist_name
Artist Vs Poet                        26
Artist Reaching Christ                26
Artist Running Club                   26
Taylor Swift                          26
Lejwe La Motheo Artist Development    26
                                      ..
London Festival Orchestra              2
The Marbles                            2
We As Human                            2
Sweatshop Union                        2
Sevak                                  2
Name: count, Length: 5506, dtype: int64

In [8]:
# Remove duplicate rows (keep='first' keeps the first occurrence)
df_unique_rows = df.drop_duplicates(keep='first')

In [9]:
# Remove duplicate artist entries (if artist_name is duplicated, keep only the first occurrence)
df_unique_artists = df_unique_rows.drop_duplicates(subset='artist_name', keep='first')

In [10]:
# Count the total number of unique rows
unique_rows_count = df_unique_artists.shape[0]
print(f"Total number of unique rows: {unique_rows_count}")

Total number of unique rows: 101375

In [11]:
# 1. Replace "Unknown" in artist_genre with "hip hop"
unknown_genre_count = df[df['artist_genre'] == "Unknown"].shape[0]
df['artist_genre'] = df['artist_genre'].replace("Unknown", "hip hop")

# Print the count of rows replaced
print(f'Total number of rows where artist_genre was "Unknown": {unknown_genre_count}')

Total number of rows where artist_genre was "Unknown": 36813

In [12]:
# 2. Replace empty artist_img fields with the default image URL
empty_img_count = df['artist_img'].isna().sum()
df['artist_img'] = df['artist_img'].fillna("https://media.istockphoto.com/id/1298261537/vector/blank-man-profile-head-icon-placeholder.jpg?s=612x612&w=0&k=20&c=CeT1RVWZzQDay4t54ookMaFsdi7ZHVFg2Y5v7hxigCA=")

# Print the count of rows replaced
print(f'Total number of rows where artist_img was empty: {empty_img_count}')

Total number of rows where artist_img was empty: 6696

In [13]:
# 3. Create name_abbreviation column
df['name_abbreviation'] = df['artist_name'].apply(lambda x: ''.join([word[0].upper() for word in x.split()]) if len(x.split()) > 1 else x)

In [14]:
# Save the cleaned and updated DataFrame to a new CSV file
df.to_csv('Ultimate_unique_artists.csv', index=False)

print("Data cleaning and processing completed successfully!")

Data cleaning and processing completed successfully!