In [51]:
import pandas as pd
import numpy as np

In [52]:
# If it's an Excel file, use read_excel
df = pd.read_excel('N_artists_data27.xlsx')

In [53]:
df.head()

,artist_name,artist_genre,artist_img,artist_id,artist_country
0,Eric Cardona,Unknown,https://i.scdn.co/image/ab6761610000e5eb4fbd93...,4U6i0xGQYBjWFd8MtdF26R,United States
1,Ernst Ottensamer,classical clarinet,https://i.scdn.co/image/ab67616d0000b2731d0d64...,1uqscf67Zj76nFwDJPIqRY,Austria
2,The Full Monty Ensemble,Unknown,NaN,2pdug9wmiHBDSjJabePvQ2,Japan
3,George Fox,canadian country,https://i.scdn.co/image/ab6761610000e5eb2936cf...,16C53fCphxpf4lcPsBXeov,Canada
4,Infradig,Unknown,https://i.scdn.co/image/ab6761610000e5eb509dc4...,7xDYCXOiDipNQHxYoaykmy,United States

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547 entries, 0 to 4546
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   artist_name     4547 non-null   object
 1   artist_genre    4547 non-null   object
 2   artist_img      3995 non-null   object
 3   artist_id       4547 non-null   object
 4   artist_country  4547 non-null   object
dtypes: object(5)
memory usage: 177.7+ KB

In [55]:
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 63

In [56]:
# Count duplicate artist names
duplicate_artists = df['artist_name'].duplicated(keep=False) # keep=False
duplicate_artists_count = duplicate_artists.sum()
print(f"Number of duplicate artist names: {duplicate_artists_count}")
# Optionally, you can get the count of each artist name and filter those wi
artist_name_counts = df['artist_name'].value_counts()
duplicate_artists_detail = artist_name_counts[artist_name_counts > 1]
print("Duplicate artist details:")
print(duplicate_artists_detail)

Number of duplicate artist names: 168
Duplicate artist details:
artist_name
Taylor Swift                          52
Artist Vs Poet                        14
Artist Unknown                        10
RAC                                    9
ACM Awards New Artist Nominees         8
PM Artist Sessions Project             7
Artist Reaching Christ                 7
Artist Joe Smith                       6
Bob Marley & The Wailers               4
Lejwe La Motheo Artist Development     4
New Artist Spotlight                   4
Chicago                                3
The Artist Ren                         3
Solo Artist Saxx                       3
Artist Running Club                    3
Artist Ko Ensemble                     3
Artistas del Parque Xcaret             3
All Artist Adella                      3
Junebug Slim                           2
Artistka Chuprynenko                   2
Sape Kayan                             2
Black Flag                             2
White Noise for Babies                 2
Peter McPoland                         2
All Artist Blue Squad PAN              2
Taboh Sape                             2
Superspy                               2
The Wiggles                            2
kvazar                                 2
Name: count, dtype: int64

In [57]:
# Remove duplicate rows (keep='first' keeps the first occurrence)
df_unique_rows = df.drop_duplicates(keep='first')

In [58]:
# Remove duplicate artist entries (if artist_name is duplicated, keep only the first occurrence)
df_unique_artists = df_unique_rows.drop_duplicates(subset='artist_name', keep='first')

In [59]:
# Count the total number of unique rows
unique_rows_count = df_unique_artists.shape[0]
print(f"Total number of unique rows: {unique_rows_count}")

Total number of unique rows: 4408

In [60]:
# Save the DataFrame to a CSV file
df_unique_artists.to_csv('unique_artists_27.csv', index=False)